.address-form {
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  gap: 1rem;
}

.address-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 700px;
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 0.7rem;
  border: 2px solid var(--tertiary-color);
  box-shadow: 0 0 5px 1px black;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  color: var(--highlight-color-two);
}

.address-wrapper {
  display: flex;
  gap: 1rem;
}

.address-input {
  color: var(--highlight-color-two);
  width: 100%;
  border: 2px solid var(--primary-color);
  outline: none;
  background-color: var(--primary-color);
  font-size: 1rem;
  border-radius: 7px;
  padding: 10px 7px;
}

.address-input:focus {
  border: 2px solid var(--highlight-color-two);
}

.address-button {
  font-family: "Bitter", serif;
  font-size: 1rem;
  background-color: var(--tertiary-color);
  padding: 0.7rem;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.address-button:hover {
  background-color: var(--tertiary-brighty-color);
}

.address-title {
  padding: 5px 0;
  color: var(--highlight-color-two);
  border-bottom: 3px solid var(--highlight-color-two);
}