.payment-container {
  min-height: 275px;
}

.payment-text {
  margin-top: 0.7rem;
  line-height: 22px;
}

.pending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  min-height: 100px;
}