.preview-header {
  padding: 30px 0;
}

.preview-container {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: auto;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 2px solid var(--tertiary-color);
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-color);
}

.image-and-description-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.title {
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 2rem;
  max-width: 410px;
  text-align: center;
}

.subtitle {
  font-size: 1rem;
  color: var(--highlight-brighty-color);
}

.description-container {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  border: 2px solid var(--tertiary-color);
  display: flex;
  flex-direction: column;
  min-height: 300px;
  max-height: 300px;
}

.description {
  font-size: 0.8rem;
  line-height: 1.5em;
  overflow-y: scroll;
  padding-right: 10px;
  letter-spacing: 0.1px;
  max-height: 150px;
}

.category {
  font-size: small;
  font-weight: bold;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--highlight-brighty-color);
  margin-top: 1rem;
  background-color: var(--secondary-color);
  border: 2px solid var(--tertiary-color);
}

.product-price {
  font-size: 1.5rem;
}

.preview-image {
  object-fit: contain;
  width: 300px;
  height: 300px;
  min-width: 300px;
  border: 2px solid var(--tertiary-color);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);
}

.rating-container {
  display: flex;
  justify-content: space-around;
  box-shadow: var(--box-shadow);
  border-radius: 0.8rem;
  background-color: var(--primary-color);
  border: 2px solid var(--tertiary-color);
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.rating {
  display: flex;
  align-items: center;
  position: relative;
}

.return-button {
  position: absolute;
  outline: none;
  border: none;
  top: -55px;
  left: 0;
  cursor: pointer;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--highlight-color);
}

.star {
  font-size: 32px;
  color: var(--highlight-color);
}

.gray-star {
  font-size: 32px;
  color: var(--secondary-color);
}

.stars-container {
  position: absolute;
  top: 0;
}

.rating-count {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: var(--highlight-brighty-color);
  font-weight: bold;
}

.add-to-cart-button {
  padding: 1rem;
  background-color: var(--tertiary-color);
  cursor: pointer;
  color: var(--text-color);
  font-weight: bold;
  outline: none;
  border-radius: 0.8rem;
  transition: 0.2s ease-in-out;
  border: none;
  font-size: 1.5rem;
  width: 100%;
}

.nav-button,.disabled {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: var(--highlight-color-two);
  font-size: 4rem;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  background-color: transparent;
  border: 2px solid var(--highlight-color-two);
}

.disabled {
  border: 2px solid var(--highlight-darker-color-two);
  color: var(--highlight-darker-color-two);
  box-shadow: none;
  pointer-events: none;
}

.io-icon {
  path {
    stroke-width: 64px;
  }
}

.nav-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.nav-button:hover {
  transform: scale(1.05);
}

.nav-button:active {
  transform: scale(1);
}

.add-to-cart-button:hover {
  background-color: var(--tertiary-brighty-color);
  transform: scale(1.01);
  transition: 0.2s ease-in-out;
}

@media (max-width: 900px) {
  .title {
    max-width: 370px;
  }
}

@media (max-width: 850px) {
  .title {
    max-width: 340px;
  }
}

@media (max-width: 820px) {
  .image-and-description-container {
    flex-direction: column;
  }

  .preview-image {
    width: 100%;
    height: 300px;
  }

  .title {
    max-width: none;
  }

  .nav-button, .disabled {
    padding: 0 0.5rem;
    font-size: 3rem;
  }

  .nav-buttons-container {
    margin-bottom: 2rem;
  }
}


@media(max-width: 500px){
  .rating-container {
    flex-direction: column;
    gap: 1rem;
  }
}