.fixed {
  position: fixed;
  z-index: 60;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
}

.cart-container {
  box-shadow: 0 0 15px 1px black;
  background-color: var(--secondary-color);
  border: 2px solid var(--tertiary-color);
  border-radius: 1.5rem;
  padding: 1rem;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.other-products {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  height: 30%;
  background-color: var(--primary-color);
}

.other-products-image {
  user-select: none;
  height: 100%;
  min-width: 200px;
  width: 200px;
  object-fit: contain;
  box-shadow: 0 0 15px 1px black;
  cursor: pointer;
  border: 2px solid var(--tertiary-color);
  border-radius: 1rem;
  user-select: none;
  padding: 10px;
}

.product-selected-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 85px);
  justify-content: center;
  gap: 1rem;
}

.cart-description-title {
  margin-top: 1rem;
  color: var(--highlight-brighty-color);
}

.image-and-buttons-container {
  grid-row: 1 / -1;
}

.product-selected-image {
  width: 100%;
  height: 388px;
  box-shadow: 0 0 15px 1px black;
  object-fit: contain;
  user-select: none;
  background-color: var(--primary-color);
  border-radius: 1.4rem;
  border: 2px solid var(--tertiary-color);
  padding: 1rem;
}

.product-selected-title {
  text-align: center;
  font-size: 1.5rem;
}

.product-selected-information {
  grid-column: 2 / -1;
  grid-row: 1 / 5;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--tertiary-color);
  box-shadow: 0 0 5px 1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-selected-description {
  overflow-y: scroll;
  padding-right: 10px;
  text-wrap: pretty;
  line-height: 1.6rem;
  max-height: 150px;
}

.cart-rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.cart-price {
  color: var(--highlight-color-two);
}

.cart-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.cart-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total {
  font-size: 2rem;
  width: 4rem;
  text-align: center;
}

.sell-button,
.buy-button {
  box-shadow: 0 0 5px 1px black;
  border: none;
  outline: none;
  width: 40px;
  padding: 4px;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--highlight-color-two);
  color: var(--highlight-color-two);
  background-color: transparent;
}

.buy-and-trash-buttons {
  display: flex;
  gap: 1rem;
}

.buy-product-anchor {
  display: flex;
  padding: 0.3rem;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-color);
  color: white;
  box-shadow: 0 0 5px 1px black;
  font-size: 2.5rem;
  width: 100%;
}

.trash-button {
  display: flex;
  box-shadow: 0 0 5px 1px black;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: red;
  color: white;
  font-size: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 15px 1px black;
  background-color: var(--secondary-color);
  border: 2px solid var(--tertiary-color);
  color: var(--primary-color);
  font-size: 15rem;
  border-radius: 1.5rem;
}

.empty-title {
  text-align: center;
  font-size: 5rem;
  user-select: none;
}

.close-button {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 100;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .product-selected-container {
    display: flex;
    flex-direction: column;
  }

  .product-selected-description {
    max-height: 200px;
  }

  .other-products {
    height: 30%;
    margin-top: 1rem;
  }

  .other-products-image {
    width: 150px;
    min-width: 150px;
  }

  .empty-title {
    font-size: 5rem;
  }
}

@media (max-width: 470px) {
  .cart-rating {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
