.filters {
  background-color: var(--secondary-transparent-color);
  backdrop-filter: blur(10px);
  width: 250px;
  height: 0;
  border-radius: 0 0 10px 10px;
  transition: height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.filters-title {
  font-size: 1.2rem;
}

.filters-title:nth-of-type(2) {
  margin-top: 3rem;
}

.price-range-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  position: relative;
  width: 100%;
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  margin-top: 1rem;
}

.show-filters {
  width: 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 380px;
  overflow: visible;
}

.hamburger-input {
  appearance: none;
  position: absolute;
}

.toggle-filters {
  position: relative;
  height: 10px;
  width: 20px;
  cursor: pointer;
}

.toggle-filters > span {
  left: 0;
  position: absolute;
  content: "";
  height: 1.5px;
  width: 100%;
  background-color: white;
  transition: 0.25s ease-in-out;
  border-radius: 20px;
}

.toggle-filters > span:nth-of-type(1) {
  top: 0;
}
.toggle-filters > span:nth-of-type(2) {
  top: 50%;
}
.toggle-filters > span:nth-of-type(3) {
  top: 100%;
}

.hamburger-input:checked ~ .toggle-filters > span:nth-of-type(1) {
  transform: rotate(45deg) translate(3.5px, 3.5px);
  transform-origin: center center;
}

.hamburger-input:checked ~ .toggle-filters > span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.hamburger-input:checked ~ .toggle-filters > span:nth-of-type(3) {
  transform: rotate(-45deg) translate(3.5px, -3.5px);
  transform-origin: center center;
}

.hamburger-input:checked ~ .filters {
  height: 270px;
}

@media (max-width: 1150px) {
  .filters {
    position: fixed;
    top: 80px;
    left:0;
    width: 100%;
    border-radius: 0;
  }

  .wrapper {
    width: 40%;
  }
}
