.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--secondary-transparent-color);
  margin-top: 1rem;
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-anchor {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.footer-icon {
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-icon > p {
  font-weight: bold;
  font-size: 1rem;
}

.contact-information {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-links {
  display: flex;
  gap: 1rem;
}

.footer-links > li {
  list-style: none;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
  margin: 1rem auto 0 auto;
  color: var(--text-color);
}

.footer-link:hover {
  color: var(--highlight-color-two);
}


@media (max-width: 600px) {
  .contact-information ,.footer-links {
    flex-direction: column;
    text-align: center;
  }
}