.header {
  background-color: var(--tertiary-color);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.shopping-cart-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

.number-of-products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -40%;
  right: -30%;
  background-color: rgba(255, 0, 0, 0.225);
  text-align: center;
  color: red;
  font-size: 1.7rem;
}