.header {
  position: fixed;
  background-color: var(--secondary-color);
  backdrop-filter: blur(10px);
  height: fit-content;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  z-index: 50;
  animation: header linear both;
  animation-timeline: scroll();
  animation-range: 0 70px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-filter {
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 7px 0 0 7px;
  width: 320px;
  font-family: "Bitter", serif;
  background-color: var(--primary-color);
  color: var(--highlight-brighty-color-two);
  border: solid var(--primary-color);
  border-width: 2px 0 2px 2px;
  transition: border 0.25s ease-in-out;
}

.text-filter:focus {
  border: solid var(--highlight-color-two);
  border-width: 2px 0 2px 2px;
}

.text-filter-button {
  width: 45px;
  font-size: 1.5rem;
  padding: 4.7px;
  cursor: pointer;
  outline: none;
  color: var(--highlight-color-two);
  background-color: var(--primary-color);
  border: solid var(--primary-color);
  border-width: 2px 2px 2px;
  border-left: 2px solid var(--highlight-color-two);
  transition: border 0.25s ease-in-out;
  border-radius: 0 8px 8px 0;
}

.text-filter:focus ~ .text-filter-button {
  border: solid var(--highlight-color-two);
  border-width: 2px 2px 2px;
}

.shopping-cart-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 3rem;
  color: var(--highlight-color);
}

.number-of-products-container {
  position: absolute;
  right: -15px;
  text-align: center;
  color: var(--highlight-color-two);
  font-size: 1.8rem;
}

.toggle-filters {
  position: relative;
  height: 10px;
  width: 20px;
  cursor: pointer;
}

.toggle-filters > input {
  appearance: none;
}

.toggle-filters > span {
  left: 0;
  position: absolute;
  content: "";
  height: 1.5px;
  width: 100%;
  background-color: white;
  transition: 0.25s ease-in-out;
  border-radius: 20px;
}

.toggle-filters > span:nth-of-type(1) {
  top: 0;
}
.toggle-filters > span:nth-of-type(2) {
  top: 50%;
}
.toggle-filters > span:nth-of-type(3) {
  top: 100%;
}

.toggle-filters > input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg) translate(3.5px, 3.5px);
  transform-origin: center center;
}

.toggle-filters > input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.toggle-filters > input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg) translate(3.5px, -3.5px);
  transform-origin: center center;
}

@keyframes header {
  to {
    background-color: var(--secondary-transparent-color);
  }
}


@media(max-width:600px){
  .text-filter{
    width: 200px;
  }
}

@media(max-width:400px){
  .text-filter{
    width: 150px;
  }
}