.header {
  position: absolute;
  background-color: var(--tertiary-color);
  height: fit-content;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 50;
}

.shopping-cart-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

.number-of-products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -40%;
  right: -30%;
  background-color: rgba(255, 0, 0, 0.225);
  text-align: center;
  color: red;
  font-size: 1.7rem;
}

.toggle-filters {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.toggle-filters > input {
  display: none;
}

@media (max-width: 1320px) {
  .toggle-filters > input {
    display: block;
    position: absolute;
    right: 3%;
  }

  .header {
    padding: 5px;
  }


}
