.product-loading {
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 1rem 1rem 0 0;
}

.preview-loading {
  width: 300px;
  height: 300px;
  min-width: 300px;
  border: 2px solid var(--tertiary-color);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);
}

.cart-loading {
  min-width: 388px;
  width: 388px;
  height: 388px;
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);
  border-radius: 17px;
  border: 2px solid var(--tertiary-color);
  padding: 1rem;
}

.other-loading {
  height: 100%;
  min-width: 200px;
  width: 200px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  border: 2px solid var(--tertiary-color);
  border-radius: 1rem;
  padding: 10px;
}

.image-loading {
  position: relative;
  overflow: hidden;
}

.image-loading::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(49, 48, 77, 0) 0,
    rgba(49, 48, 77, 0.2) 20%,
    rgba(49, 48, 77, 0.5) 60%,
    rgba(49, 48, 77, 0)
  );
  animation: shimmer ease-in-out 1s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 820px) {
  .preview-loading {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 1200px) {
  .cart-loading {
    width: 100%;
    min-width: 0;
  }
}
