.page-button,
.page-button-selected {
  height: 20px;
  width: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--button-text-color);
  background-color: var(--tertiary-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-button-selected {
  box-shadow: 0 0 10px 1px var(--tertiary-brighty-color);
  background-color: var(--tertiary-brighty-color);
}