*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.preview-container {
  position: relative;
  border-radius: 1rem;
  height: 630px;
  top: 13%;
  background-color: white;
  position: fixed;
  margin-left: 1rem;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  overflow-y: scroll;
}

.image-description-container {
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.description-container {
  display: flex;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5rem;
}

.title {
  font-size: 1rem;
  text-align: center;
}

.description, .category {
  margin: 0.5rem 0 0 0.5rem;
  font-size: small;
  padding:  10px 10px 10px 0;
}

.preview-image {
  aspect-ratio: 1;
  object-fit: contain;
  width: 300px;
}

.rating-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 33%;
}

.return-button {
  position: absolute;
}

.rating {
  overflow: hidden;
}

.star {
  font-size: 32px;
  color: rgb(221, 198, 22);
}

.gray-star {
  font-size: 32px;
  color: gray;
}

.stars-container {
  position: absolute;
}
