.range-container {  
  position: absolute;
  width: 100%;
  height: 16px;
}

.input {
  position: absolute;
  left: 0;
  opacity: 0;
  appearance: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3000;
}

.wrapper {
  position: relative;
  width: 50%;
  margin: auto;
}

.control-wrapper {
  margin: auto;
  width: calc(100% - 16px);
  height: 16px;
  position: absolute;
}

.rail {
  position: absolute;
  width: 100%;
  height: 6px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  background-color: var(--primary-color);
}

.inner-rail {
  position: absolute;
  height: 100%;
  background-color: var(--highlight-color-two);
}

.control {
  width: 38px;
  height: 16px;
  border-radius: 1rem;
  position: absolute;
  z-index: 2;
  font-size: 12px;
  font-weight: bolder;
  color: var(--highlight-color-two);
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input::-ms-thumb {
  appearance: none;
  pointer-events: all;
  width: 35px;
  height: 16px;
  border-radius: 0px;
  border: none;
  cursor: grab;
}

.input::-moz-range-thumb {
  appearance: none;
  pointer-events: all;
  width: 35px;
  height: 16px;
  border-radius: 0px;
  border: 0 none;
  cursor: grab;
}

.input::-webkit-slider-thumb {
  appearance: none;
  pointer-events: all;
  width: 35px;
  height: 16px;
  border-radius: 0px;
  border: 0 none;
  cursor: grab;
}

.information-container {
  display: flex;
  flex-direction: column;
  width: 100%;
} 