.shipping-container {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 0.8rem;
  width: 800px;
  height: fit-content;
  position: relative;
  display: block;
}

.shipping-title {
  margin-bottom: 1rem;
}

.shipping-button {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--tertiary-color);
  cursor: pointer;
  font-size: 1rem;
}

.shipping-button:hover {
  background-color: var(--tertiary-brighty-color);
}

.edit {
  position: absolute;
  right: 10px;
  top: 10px;
}

.next {
  display: block;
  margin: auto;
  text-align: center;
  width: fit-content;
  margin-top: 1rem;
}
.user-data {
  font-weight: normal;
  list-style: none;
  margin-left: 1rem;
}
