.confirmation-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.shipping-container {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 0.8rem;
  width: 700px;
  height: fit-content;
  position: relative;
  display: block;
  box-shadow: var(--box-shadow);
  border: 2px solid var(--tertiary-color);
}

.shipping-button {
  font-size: 1rem;
  background-color: var(--tertiary-color);
  padding: 0.7rem;
  border-radius: 5px;
  color: var(--button-text-color);
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 5px;
}

.shipping-button:hover {
  background-color: var(--tertiary-brighty-color);
}

.shipping-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--highlight-color-two);
  padding: 5px 0;
  gap: 1rem;
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1.2rem;
  color: var(--text-color);
}

.edit:hover {
  color: var(--highlight-brighty-color);
}

.user-data-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem ;
}
.user-data {
  font-weight: normal;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid var(--tertiary-color);
  background-color: var(--primary-color);
}

.user-data:nth-last-of-type(1) {
  grid-column: 1 / -1;
}

.user-data-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
  color: var(--highlight-color-two);
}

@media (max-width: 1150px) {
  .shipping-container {
    width: 90%;
    max-width: 700px;
  }
}

@media (max-width: 800px){
  .user-data-container {
    grid-template-columns: 1fr;
  }

  .user-data-title {
    max-width: 170px;
  }
}