@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,300&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fffbf5;
  --secondary-color: #f7efe5;
  --tertiary-color: #c3acd0;
  --highlight-color: #7743db;
}

body {
  background-color: var(--highlight-color);
  font-family: "Bitter", serif;
}

.container {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin-top: 100px;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: calc(210px * 3);
  padding: 1rem;
  grid-auto-rows: min-content;
  gap: 1rem;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-buttons {
  margin: 0.7rem 0;
}

.container-if-no-products {
  width: 90%;
  max-width: 800px;
  margin: 100px auto 0 auto;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  min-height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media (max-width: 1240px) {
  .container,
  .carousel-buttons {
    margin-right: 200px;
  }
}

@media (max-width: 1020px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .carousel-buttons,
  .container {
    margin-right: 0;
  }
}

@media (max-width: 700px){
  .container {
    grid-template-columns: 1fr;
  }
}