*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fffbf5;
  --secondary-color: #f7efe5;
  --tertiary-color: #c3acd0;
  --highlight-color: #7743db;
}

body {
  background-color: var(--highlight-color);
}

.container {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin-top: 100px;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: calc(210px * 3);
  padding: 1rem;
  grid-auto-rows: min-content;
  gap: 1rem;
}

.filters {
  width: 200px;
  background-color: var(--secondary-color);
  position: fixed;
  top: 33vh;
  right: 0;
  height: auto;
  border-radius: 1rem 0 0 1rem;
  padding: 1rem;
  text-align: center;
  transition: right 1s ease-out;
}

.filters-title:nth-of-type(2) {
  margin-top: 2rem;
}

.price-range-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  margin-top: 1rem;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-buttons {
  margin: 0.7rem 0;
}

.container-if-no-products {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 100px auto 0 auto;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  min-height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-filters {
  width: 200px;
  background-color: var(--secondary-color);
  position: fixed;
  top: 33vh;
  right: -200px;
  height: auto;
  border-radius: 1rem 0 0 1rem;
  padding: 1rem;
  text-align: center;
  transition: right 1s ease-out;
}

@media (max-width: 1240px) {
  .container,
  .carousel-buttons {
    margin-right: 200px;
  }
}

@media (max-width: 1020px) {
  .container {
    grid-template-columns: 1fr 1fr;
    min-height: calc(235px * 4);
  }
  .carousel-buttons,
  .container {
    margin-right: 0;
  }
}
