@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,300&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #161a30;
  --secondary-color: #31304d;
  --secondary-transparent-color: #31304d8d;
  --tertiary-color: #36078d;
  --tertiary-brighty-color: #5c30ae;
  --highlight-color: #8608d4;
  --highlight-brighty-color: #ab61da;
  --highlight-color-two: #ffbc40;
  --highlight-darker-color-two: rgb(168, 125, 44);
}

body {
  background-color: var(--primary-color);
  font-family: "Bitter", serif;
  color: white;
  height: 100vh;
}

.container {
  position: relative;
  width: 90%;
  margin-top: 100px;
  min-height: calc(3 * 210px);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  grid-auto-rows: min-content;
  gap: 1rem;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.carousel-buttons {
  margin: 0.7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-if-no-products {
  width: 90%;
  max-width: 1100px;
  margin-top: 100px;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  min-height: 630px;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15rem;
}

@media (max-width: 1500px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .carousel-buttons,
  .container,.container-if-no-products {
    margin-right: 0;
  }
}

@media (max-width: 1135px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 700px){
  .container {
    grid-template-columns: 1fr;
  }
}